/data
RAG/vector_db
RAG/data
RAG/code/RAG
RAG/code/vector_store
RAG/code/__pycache__
RAG/__pycache__/

/TEST
/Individual_Stock_Search
RAG/daily_report
RAG/trash
RAG/data_2


.DS_Store
*.csv
*.docx
RAG/code/.env
*.zip
*.pkg
*.json
__pycache__/stock_data_collector.cpython-311.pyc
RAG/requirements.txt
/requirements.txt


*.pkl
